<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

    <body>
    
        <%- include('./partials/navbar.ejs')%>
        <h4>Contact Page</h4>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>